<div class="container">
    <div class="row">
        <!-- GET -->
        <div class="col-md-3">
            <h1>GET</h1>
        </div>

        <!-- POST -->
        <div class="col-md-3">
            <h1>POST</h1>
        </div>

        <!-- PUT -->
        <div class="col-md-3">
            <h1>PUT</h1>
            <div class="card">
                <div class="card-body">
                    
                </div>
            </div>
        </div>

        <!-- DELETE -->
        <div class="col-md-3">
            <h1>DELETE</h1>
        </div>
        
    </div>
</div>