<div class="container">
    <div class="row">
        <!-- GET -->
        <div class="col-md-3">
            <h1>GET</h1>
            <div class="card">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">

                        
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- POST -->
        <div class="col-md-3">
            <h1>POST</h1>
            <div class="card">
                <div class="card-body">

                   

                </div>
            </div>
        </div>

        <!-- PUT -->
        <div class="col-md-3">
            <h1>PUT</h1>
            <div class="card">
                <div class="card-body">
                     <ul class="list-group list-group-flush">
                        <li class="list-group-item">


                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <!-- DELETE -->
        <div class="col-md-3">
            <h1>DELETE</h1>
            <div class="card">
                <div class="card-body">
                        
                </div>
            </div>
            
        </div>
    </div>
</div>